<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.ht.mapper.DeptMapper">

	<resultMap type="Dept" id="deptRM" autoMapping="true">
		<id column="dept_id" property="deptId"/>
		<association property="parentDept" javaType="Dept">
			<id column="p_id" property="deptId"/>
			<result column="p_name" property="deptName"/>
		</association>
	</resultMap>
	<!-- 查询所有部门 -->
	<select id="findAll" resultMap="deptRM">
		SELECT * FROM 
	dept_p d1
	LEFT JOIN
	(SELECT dept_p.DEPT_ID p_id ,dept_p.DEPT_NAME p_name FROM dept_p) d2
	ON d1.PARENT_ID=d2.p_id ORDER BY dept_id
	</select>
	
	<!-- 修改状态 -->
	<update id="updateState">
		UPDATE dept_p
	SET state = #{state} WHERE dept_id in
	<foreach collection="deptId" item="deptId" open="(" close=")" separator=",">
	 #{deptId}
	</foreach>
	</update>
	
	
	<!-- 批量删除 -->
	<delete id="delete">
		DELETE FROM dept_p WHERE dept_id IN 
		<foreach collection="array" item="deptId" open="(" close=")" separator=",">
			#{deptId}
		</foreach>
	</delete>
	
	<!-- 新增部门 -->
	<insert id="insertDept">
		INSERT INTO dept_p (dept_id,dept_name,parent_id,state) VALUES(#{deptId},#{deptName},#{parentDept.deptId},#{state})
	</insert>
	
	<!-- 查询单个 -->
	<select id="selectOne" resultMap="deptRM">
		SELECT * FROM dept_p d
	LEFT JOIN
	(SELECT dept_id p_id,dept_name p_name FROM dept_p) p
	ON 
	d.parent_Id = p.p_id WHERE dept_id = #{deptId}
	</select>
	
	<!-- 修改部门 -->
	<update id="update">
		UPDATE dept_p SET parent_id=#{parentDept.deptId},dept_name=#{deptName},state=#{state} WHERE dept_id=#{deptId}
	</update>
</mapper>
















